*{
    font-family: 'Be Vietnam Pro', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
}

/* Estilos para el logo */
.logo img {
    max-width: 100px;
    /* Ajusta el tamaño máximo del logo */
}

/* Estilos para el icono de menú */
.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.iconoLineas {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.primeraSeccion {
    text-align: center;
    padding: 20px;
}

/* Imagen centrada */
.primeraSeccion img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.espaciado {
    height: 50px;
}

.primeraSeccion h1 {
    font-size: 30px;
    color: #232851;
    text-align: right;
}

.primeraSeccion p {
    font-size: 16px;
    color: black;
    text-align: right;
}

.primeraSeccion button {
    background-color: #8B48BF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}

button{
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #8B48BF;
}


/* Segunda seccion del main */
.segundaSeccion{
    display: flex;
    flex-direction: column;
    background-color: #3CDDF3;
    color: white;
    padding: 1.5rem 7rem 0.8rem 1.5rem;
}

article.encabezadosConFondo{
    padding-bottom: 2rem;
    padding-right: 4rem;
    font-weight: bold;
}

article.parrafosConFondo {
    font-size: 0.9rem;
    padding-bottom: 0.9rem;
    line-height: 20px;
    align-self: flex-start;
    justify-content: flex-end;
}

/* Tercera seccion del main, esta contiene la enumeracion */
.terceraSeccionEnumeracion{
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem 1rem 2rem;
}

.contenedorEnumeracion{
    display: flex;
}

.enumeracion{
    border: none;
    color: white;
    font-weight: bold;
    background-color: #8B48BF;
}

.encabezadosEnumeracion{
    color: #242E53;
    padding: 0rem 2rem 0.5rem 1rem;
}

.parrafosEnumeracion{
    line-height: 25px;
    padding: 1.4rem 0rem 1.4rem 0.1rem;
    color: #B3B2B7;
}

/* Cuarta seccion del main*/
.cuartaSeccionDestacados{
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 2rem 3rem 2rem;
}

.encabezadoCuartaSeccion{
    padding-bottom: 3rem;
    color: #242E53;
}

.articulosCuartaSeccion p{
    color: #B3B2B7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }

.contenidoCuartaSeccion{
    display: flex;
    flex-direction: column;
    color: #3CDDF3;
}

.ImgCuartaSeccion{
    display: flex;
    flex-direction: column;
    color: #3CDDF3;
    align-self: center;
    padding-bottom: 1rem;
}

.h4CuartaSeccion{
    display: flex;
    color: #323851;
    align-self: center;
    padding-bottom: 0.3rem;
}

div.contenidoCuartaSeccion p{
    display: flex;
    align-self: center;
}

p.parrCuartaSeccion{
    display: flex;
    align-self: center;
    justify-content: center;
    color: #B3B2B7;
    padding: 0.3rem 2rem 1.5rem 3rem;
    text-align: center;
}

.cuartaSeccionDestacados button{
    border: none;
    border-radius: 20px;
    font-weight: normal;
    font-size: 14px;
    margin: 2rem 0rem 0rem 0rem;
    color: white;
    background-color: #8B48BF;
    padding: 0.6rem 3rem 0.4rem 3rem;
}

/* Quinta seccion con fondo */
.quintaSeccionFondo{
    align-items: center;
    background-color: #3CDDF3;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
}

.quintaSeccionFondo h2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
    padding: 0rem 1.6rem 0rem 1.6rem;
}

.quintaSeccionFondo button{
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #232851;
    font-weight: normal;
    font-size: 12px;
    padding: 0.59rem 1rem 0.49rem 1rem;
    width: 100px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Cuadro de búsqueda */
.cajaBusqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.cajaBusqueda input {
    flex: 1;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.cajaBusqueda button {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Navegación en dos columnas */
.navigation {
    display: flex;
    justify-content: space-between;
}

.column ul {
    list-style: none;
    padding: 0;
}

.icons-and-logo {
    text-align: center;
}

.icon-row {
    font-size: 24px;
}

.copyright {
    text-align: center;
}


/* Media Queries, responsive con dispositivos móbiles y pantallas de escritorio */

@media (min-width: 480px){
 /* Segunda seccion del main  */
section.segundaSeccion{
    background-color: #8B48BF;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 3rem 0rem 3.5rem;
}

.encabezadosConFondo{
    font-weight: bold;
    width: 500px;
}

.parrafosConFondo {
    font-size: 0.9rem;
    line-height: 20px;
    padding-right: 10rem;
    padding-left: 2rem;
}

/* Quinta seccion con fondo */

.quintaSeccionFondo{
    background-color: #8B48BF;
    flex-direction: row;
    padding: 1rem 4rem 0rem 4rem;
    justify-content: space-between;
}

.quintaSeccionFondo button{
    color: #8B48BF;
    background-color: white;
}

.quintaSeccionFondo h2{
    width: 280px;
    text-align: start;
    padding: 8px 4rem 0rem 1rem;
}

/* 

Tercera seccion del main
.terceraSeccionEnumeracion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 5rem 1rem 2rem; 
}

.terceraSeccionEnumeracion article{
    margin: 0rem 0.7rem 0.5rem 0.9rem;
}

.contenedorEnumeracion{
    display: flex;
}

.encabezadosEnumeracion{
    color: #242E53;
    padding: 0rem 2rem 0.2rem 0.9rem;
}

.parrafosEnumeracion{
    line-height: 25px;
    padding: 0.6rem 0rem 1.4rem 3.5rem;
    color: #B3B2B7;
    width: 29rem;
}

Cuarta seccion del main
.cuartaSeccionDestacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.encabezadoCuartaSeccion{
    color: #242E53;
    width: 60rem;
    align-content: center;
    padding: 0rem 6rem 3rem 30rem;
}

.articulosCuartaSeccion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 23rem;
 }

.ImgCuartaSeccion{
    flex-direction: row;
    justify-content: center;
}

.articulosCuartaSeccion h4{
    align-self: center;
}

h4.h4CuartaSeccion{
    align-self: center;
    padding-bottom: 0.3rem;
}

.cuartaSeccionDestacados button{
    margin: 2rem 0rem 0rem 0rem;
    color: white;
    background-color: #8B48BF;
    padding: 0.6rem 3rem 0.4rem 3rem;
}
 */

}