*{
    font-family: 'Be Vietnam Pro', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado de página */
header {
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 40px 120px;
}

/* Logo de la página*/
.logo img {
    width: 115px;
}

/* Menú de escritorio de la página */
.menuDesktop ul {
    font-size: 0.9rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuDesktop li {
    display: inline;
    font-weight: normal;
    margin-right: 25px;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.menuDesktop a {
    text-decoration: none;
    color: #232851;
    transition: color 0.3s;
}

.menuDesktop a:hover {
    color: #798c9f;
    /* Color azul grisáceo oscuro al pasar el cursor */
    cursor: pointer;
}

/* Botones de la página */
button {
    background-color: #8B48BF;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: normal;
    border-radius: 60px;
    font-size: 0.9rem;
    padding: 15px 40px;
}

/* Menú en dispositivos móviles de la página */
.menuMobile {
    display: none;
    /* Ocultar el menú móvil en el modo escritorio */
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 45px;
    height: 4px;
    background-color: black;
    margin: 5.5px 0;
}

/* Primera sección del main */
.primeraSeccion {
    display: flex;
    align-items: center;
    margin: 100px 120px 150px 120px;
}

.imagen img {
    max-width: 100%;
}

.imagen, .texto {
    flex: 1;
}

.texto {
    text-align: right;
    padding-left: 50px;
}

.texto h1 {
    color: #232851;
    font-size: 3rem;
    margin-bottom: 30px;
    margin-left: 50px;
    line-height: 1.2;
}

.texto p {
    color: black;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 35px;
}

/* Segunda seccion del main */
.segundaSeccion {
    display: flex;
    flex-direction: column;
    background-color: #3CDDF3;
    color: white;
    padding: 1.5rem 7rem 0.8rem 1.5rem;
    justify-content: space-around;
}

#versionWeb {
    display: none;
}

#versionMobile {
    display: none;
}

article.encabezadosConFondo {
    padding-bottom: 2rem;
    padding-right: 4rem;
    font-weight: bold;
}

.encabezadosConFondo h2 {
    font-size: 1.5rem;
}

article.parrafosConFondo {
    font-size: 0.7rem;
    padding-bottom: 0.9rem;
    line-height: 20px;
    align-self: flex-start;
    justify-content: flex-end;
}

/* Tercera seccion del main, esta contiene la enumeracion */
.terceraSeccionEnumeracion {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 1rem 2rem;
}

.contenedorEnumeracion {
    align-items: center;
    display: flex;
    background-color: rgba(139, 72, 191, 0.3);
    font-size: 80%;
    gap: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 38px;
}

.enumeracion {
    border: none;
    color: white;
    font-weight: normal;
    font-size: 14px;
    background-color: #8B48BF;
    border-radius: 20px;
    padding: 8px 20px;
    text-align: center;
}

.encabezadosEnumeracion {
    color: #242E53;
    padding: 0.4rem 0rem;
    text-align: start;
    font-size: 0.8rem;
}

.parrafosEnumeracion {
    line-height: 23px;
    padding: 1.4rem 2rem 1.4rem 0.1rem;
    color: #B3B2B7;
    font-size: 0.9rem;
}

/* Cuarta seccion del main*/
.cuartaSeccionDestacados {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 2rem 3rem 2rem;
}

#versionMobile {
    display: flex;
}

.encabezadoCuartaSeccion {
    padding-bottom: 3rem;
    color: #242E53;
}

.encabezadoCuartaSeccion h2 {
    font-size: 1.7rem;
}

.articulosCuartaSeccion {
    display: none;
}

.articulosCuartaSeccion p {
    color: #B3B2B7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenidoCuartaSeccion {
    display: flex;
    flex-direction: column;
    color: #3CDDF3;
}

.ImgCuartaSeccion {
    display: flex;
    flex-direction: column;
    color: #3CDDF3;
    align-self: center;
    padding-bottom: 1rem;
}

.h4CuartaSeccion {
    display: flex;
    color: #323851;
    align-self: center;
    padding-bottom: 0.3rem;
}

div.contenidoCuartaSeccion p {
    display: flex;
    align-self: center;
}

p.parrCuartaSeccion {
    display: flex;
    align-self: center;
    justify-content: center;
    color: #B3B2B7;
    padding: 0.3rem 2rem 1.5rem 3rem;
    text-align: center;
}

.cuartaSeccionDestacados button {
    font-size: 14px;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.6rem 3rem 0.4rem 3rem;
}

/* Quinta seccion con fondo */
.quintaSeccionFondo {
    align-items: center;
    background-color: #3CDDF3;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
}

.quintaSeccionFondo h2 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
    width: 100%;
}

.quintaSeccionFondo button {
    color: white;
    background-color: #232851;
    font-size: 12px;
    padding: 0.59rem 1rem 0.49rem 1rem;
    width: 100px;
}

/* Media query para el modo móvil */
@media screen and (max-width: 768px) {
    /* Cambios para dispositivos móviles con un ancho de 480px */
    header {
        padding: 20px 60px;
        margin: 0;
    }

    .texto h1 {
        font-size: 2.5rem;
    }

    .texto p {
        font-size: 0.9rem;
    }

    .menuDesktop {
        /* Ocultar el menú de escritorio en el modo móvil */
        display: none;
    }

    .menuMobile {
        /* Mostrar el menú móvil en el modo móvil */
        display: block;
    }

    /* Ocultar el botón de contacto en el modo móvil */
    .contactButton {
        display: none;
    }

    .primeraSeccion {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 40px 40px;
    }

    /* Espaciado en la parte inferior de los elementos en el modo móvil */
    .imagen img {
        margin-bottom: 50px;
        text-align: center;
    }
    .texto h1{
        margin-bottom: 25px;
    }
    .texto p {
        margin-bottom: 25px;
    }
}

/* Footer de la página */
footer {
    background-color: #1E1E26;
    color: white;
    padding: 40px 130px;
}

/* Footer en el modo de escritorio */
#footerDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoRedes .logo {
    padding-bottom: 40px;
}

#redesSocialesDesktop img {
    max-width: 30px;
    margin-right: 10px;
    padding-top: 40px;
}

#listaDesktop {
    display: flex;
    gap: 10rem;
    justify-content: flex-start;
    line-height: 2.2rem;
    margin-right: 40px;
}

#listaDesktop ul {
    display: block;
    font-size: 0.9rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaDesktop li {
    font-weight: normal;
}

#buscarDesktop {
    margin-bottom: 80px;
    display: flex;
}

#buscarDesktop input {
    border: none;
    border-radius: 40px;
    font-size: 0.9rem;
    margin-right: 7px;
    padding: 15px 60px 15px 10px;
}

.goButton {
    border-radius: 40px;
    font-size: 0.9rem;
    padding: 15px 25px;
}

.inputFinal p {
    text-align: right;
}

#copyRight {
    color: #8C8C94;
    font-size: 0.9rem;
}

/* Footer en el modo móvil */
#footerMobile {
    text-align: center;
    display: none;
}

#buscarMobile {
    display: flex;
    justify-content: center;
}

#buscarMobile input {
    border: none;
    border-radius: 40px;
    font-size: 0.9rem;
    margin-right: 7px;
    padding: 15px 60px 15px 10px;
}

#listasMobile {
    display: flex;
    gap: 8rem;
    justify-content: center;
    line-height: 2rem;
    margin: 40px 20px;
}

#listasMobile ul {
    display: block;
    font-size: 0.9rem;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#redesSocialesMobile {
    margin: 40px 0 40px 0;
    flex-wrap: wrap;
    justify-content: center;
}

#redesSocialesMobile a {
    margin: 0 28px;
}

#redesSocialesMobile a:first-child {
    margin-left: 0;
}

#redesSocialesMobile a:last-child {
    margin-right: 0;
}

#redesSocialesMobile img {
    max-width: 30px;
}

/* Media query para el modo móvil */
@media screen and (max-width: 768px) {
    footer {
        padding: 40px 60px;
    }

    #footerDesktop {
        display: none;
        /* Ocultar el footer de escritorio en el modo móvil */
    }

    #footerMobile {
        display: block;
        /* Mostrar el footer móvil en el modo móvil */
    }
}

/* Media Queries, responsive con pantallas de escritorio */

@media (min-width: 480px) {

    /* Segunda seccion del main  */
    section.segundaSeccion {
        background-color: #8B48BF;
        flex-direction: row;
        padding: 1.5rem 3rem 0rem 5rem;
    }

    #versionWeb {
        display: flex;
    }

    #versionMobileSectionDos {
        display: none;
    }

    .encabezadosConFondo {
        font-weight: bold;
        width: 80%;
        padding: 0px 0px 0px 15px;
        margin-right: 0.2rem;
    }

    .parrafosConFondo {
        font-size: 0.9rem;
        line-height: 20px;
        padding: 0rem 8rem 0rem 3rem;
    }

    /* Tercera seccion del main */
    .terceraSeccionEnumeracion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #versionMobile {
        display: flex;
    }

    .terceraSeccionEnumeracion article {
        margin: 0rem 0.7rem 0.5rem 0.9rem;
    }

    .contenedorEnumeracion {
        background: white;
    }

    .encabezadosEnumeracion {
        color: #242E53;
        padding: 0rem 2rem 0.2rem 0rem;
        font-size: 1rem;
    }

    .parrafosEnumeracion {
        line-height: 25px;
        padding: 0.6rem 2rem 1.4rem 4.2rem;
        color: #B3B2B7;
        width: 29rem;
    }

    /* Cuarta seccion del main*/
    .cuartaSeccionDestacados {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1.8rem 0rem 8rem 0rem;
    }

    .articulosCuartaSeccion {
        display: flex;
    }

    .encabezadoCuartaSeccion {
        width: 100%;
        font-size: 39px;
        text-align: center;
    }

    .cuartaSeccionDestacados h2 {
        font-size: 1.6rem;
    }

    .contenidoCuartaSeccion {
        display: flex;
        margin: 0px 12px 40px 0px;
        width: 30vw;
    }

    p.parrCuartaSeccion {
        padding: 0px;
        margin-top: 0.8rem;
    }

    .cuartaSeccionDestacados button {
        margin: 0px 250px;
    }

    /* Quinta seccion con fondo */

    .quintaSeccionFondo {
        background-color: #8B48BF;
        flex-direction: row;
        padding: 1rem 4rem 0rem 4rem;
        justify-content: space-between;
    }

    .quintaSeccionFondo button {
        color: #8B48BF;
        background-color: white;
        margin-right: 55px;
    }

    .quintaSeccionFondo h2 {
        font-size: 1.5rem;
        width: 280px;
        text-align: start;
        padding: 7px 4rem 0rem 1rem;
    }

}